.main{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    margin-right: 10;
  
   
}

.app {
    font-family: sans-serif;
    max-width: 538px;
    margin: 0 auto;
    padding: 48px 0;
  }

  