:root {
    flex: 0, 0, 1280px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    
    
}

.page-container-profile{
    margin-top: 140px;
    width: 320px;
    
}

.container{
    width: 480px;
     margin-top: 140px; 
    margin-left: 780px; 
  
    
}