:root {
    flex: 0, 0, 1280px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.container{
    justify-content: flex-start;
    position: absolute; 
    top: 228px;
    left: 760px;
    
}
.page-container-profile{
    justify-content: flex-start;
    position: absolute; 
    top: 228px;
    left: 380px; 
   
}